.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0px 20px;
    margin: 0;
    background-color: white;
    position: fixed; /* 헤더 고정 */
    top: 0; /* 화면 상단에 고정 */
    left: 0; /* 화면 왼쪽에 고정 */
    right: 0; /* 화면 오른쪽에 고정 */

}
.ustime{
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

.sidebarIcon{
    text-align:left;
    font-size: 45px;
    border: 0;
    background-color: white;
    cursor: pointer;
}
.messageIcon{
    text-align: right !important;
    font-size: 40px;
    border: 0;
    background-color: white;
    cursor: pointer;
}