
.container {
  display: flex;
  flex-direction: row; /* 가로로 나란히 배치 */
  align-items: flex-start; /* 세로 정렬 */
  justify-content: center; /* 수평 가운데 정렬 */
  padding-top: 70px;
  // gap: 5px; /* 달력과 패널 사이의 간격 */
  z-index:2;
}

.calendarContainer {
  flex: 1; /* 동일한 비율로 크기 조정 */
  height: auto; /* 높이는 내용에 따라 자동 조정 */
  border-right: 2px solid black;
}
.sidepanel {
  flex: 1; /* 동일한 비율로 크기 조정 */
  width: 300px;
  height: 93%; /* 높이는 내용에 따라 자동 조정 */
  padding: 20px;
  background-color: rgb(255, 254, 219);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
.scheduleHeader{
  display: flex;
  color: rgb(173, 154, 115);;
  justify-content: space-between;
  margin-bottom: 20px;
}
.sidepanel h3{
  text-align: left;
  font-size: 30px;
  font-weight: lighter;
}
.sidepanel p{
  font-size: 25px;
}
.addSchedule{
  display: flex;
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
  color: #4b4848;
}
.addSchedule:hover{
  transform: scale(1.4);
  transition-duration: 0.5s;
}
.scheduleContainer{
  display: flex;
  
}
.scheduleTitles{
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: green;
  padding: 5px;
}
.scheduleTitles:hover{
  transform: scale(1.03);
  transition-duration: 0.3s;
}
.scheduleForm{
  justify-items: center;
  width: 100%;
  height: 100%;
}
.scheduleForm input{
display: flex;
align-items: center;
position: relative;
width: 250px;
height: 35px;
box-sizing: border-box;
margin-bottom:20px;
box-shadow: 3px 3px 3px #eee;
border-radius: 100px;
padding: 10px;
background-color: #F8F8F8;
&input::placeholder{
    color: #999999;
    text-align: left;
}
}

.detailButton{
  justify-content: space-between;
  background-color: rgb(244, 231, 231);
  border: none;
  border-radius: 50px;
  margin: 10px;
  padding: 10px 10px;
  cursor: pointer;
}
.detailButton:hover{
  transform: scale(1.01);
  transition-duration:0.5s ;
}

//사이드패널 일정

.coment{
  justify-content: space-between;
}
.coment p{
  font-size: 15px;
}
@media (max-width: 480px) {
  .backgroundimageSection{
    overflow: hidden;
  }
  .container {
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 중앙 정렬 */
  }

  /* 캘린더 컨테이너 */
  .calendarContainer {
    width: 100%;
    border: none;
  }

  /* 사이드 패널 */
  .sidepanel {
    position: static; /* 고정 해제 */
    width: 100%; /* 화면 너비에 맞춤 */
    height: auto; /* 높이 자동 */
    padding: 15px;
    box-shadow: none; /* 그림자 제거 */
    background-color: rgb(255, 254, 219);
    font-size: 12px; /* 텍스트 크기 축소 */
    overflow-x: scroll;
    overflow-y: scroll;
  }

  /* 닫기 버튼 */
  .close-button {
    font-size: 12px;
    margin-top: 10px;
  }
}