
.container{
  display: flex;
  align-items: flex-start;
  justify-content: center; /* 가운데 정렬 */
  padding-top: 70px; /* 패딩 조정 */

}
.calendarContainer{
  flex: 1; /* 공간을 균등하게 차지 */
  height: auto; /* 자동 높이 조정 */
    background-color: rgba(233, 233, 233, 0.929);
    border-radius: 10px;
}
.sidepanel {
  position: fixed; /* 고정 위치 제거 */
  top: 75px;
  right: 0px;
  width: 300px; /* 패널 너비 */
  height: 607px; /* 내용에 따라 자동 조정 */
  padding: 20px;
  background-color:rgb(255, 254, 219); /* 달력 배경색과 통일 */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); /* 달력과 동일한 그림자 */
}

.close-button {
  margin-top: 20px;
  cursor: pointer;
}