.MyProfileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(245, 229, 198, 0.655);
  padding: 20px;
}

.profileWrapper {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1000px;
  padding: 20px;
}
.profileWrapper strong {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
}

.profileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.profileHeader h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
}

.editButton {
  background-color: #cca278;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.3s ease;
}

.editButton:hover {
  background-color: #16385c;
}

.profileContent {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.profileImageSection {
  flex: 1;
  text-align: center;
  border-right: 2px solid #eee;
}
.profileImageSection button{
  margin: 10px ;
}

.profileImage {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #ddd;
}
.profileImageSection p {
  line-height: 2.2rem;
  text-align: left;
  margin-top: 10px;
}

.profileDetails {
  flex: 2;
  font-size: 0.95rem;
  line-height: 2.8;
  color: #555;
}

.profileDetails p {
  margin: 5px 0;
  word-wrap: break-word;
}

.profileDetails strong {
  color: #333;

}
@media (max-width: 480px) {
  .profileWrapper {
      width: 100%;
      padding: 15px;
  }

  .profileHeader h1 {
      font-size: 1.5rem;
  }

  .profileDetails {
      font-size: 0.8rem;
  }
}

