.SidebarContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 340px;
  height: 100%;
  background-color: #f6e3c6;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;

  &.open {
    transform: translateX(0);
  }

  &.closed {
    transform: translateX(-100%);
  }
}

  .SidebarNav {
    display: block;
    width: 130px;
    margin: 30px;
    font-size: 18px;
    color: #202020;
    text-decoration: none;
  }
  .SidebarNav:hover{
     color: #6266a5;
  }

/* 상단에 프로필 관리 크게 배치 */
.SidebarNav:first-child {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

/* 나머지 항목은 적절히 배치 */
.SidebarNav:nth-child(2),
.SidebarNav:nth-child(3) {
    font-size: 20px;
    margin: 30px;
    padding: 12px 10px;
    text-align: left;
}

/* 로그아웃은 텍스트 형식으로 하단에 배치 */
.SidebarNav:last-child {
  margin-top: auto; /* 나머지 공간을 채워 우측 하단으로 이동 */
  font-size: 18px;
  text-align: right; /* 우측 정렬 */
  cursor: pointer;
  position: absolute; /* 절대 위치로 고정 */
  bottom: 0;
  right: 0;
  border: none;
  background-color: #f6e3c6;
}
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size:28px;
  cursor: pointer;
}
.closeButton:hover{
  transform: scale(1.2);
  transition-duration: 0.5s;
}