
.header {
    position: absolute; 
    top: 30px;        
    left: 45px;      
    z-index: 1000;   
}

.logo {
    font-size: 35px;    
    font-weight: lighter; 
    color: #333;   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    color: rgb(165, 119, 119);
}
.Container{
    width: 620px;
    min-height: 600px;
    border: 2px solid white;
    border-radius: 30px;
    background-color: snow;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.36);
    padding: 10px 0px;
    margin: auto;
   
}

.SignUpTitle{
    text-align: center;
    color:  rgb(165, 119, 119);
    font-size: 30px;
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-top: 25px;
}
.errorsP{
    color:  rgb(186, 85, 85);
}
.errorinput{
     border: 1px solid red !important;
     
}
.signupContainer{
    justify-items: center;
    width: 100%;
    height: 100%;

}
.SignUpGroup{
    border: 2px solid rgb(176, 131, 131);
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 5px;
    cursor: pointer;
    padding: 3px; /* 간격 추가 */
    
}

.inputField{
    display: flex;
    align-items: center;
    position: relative;
    width: 500px;
    height: 50px;
    box-sizing: border-box;
    margin-bottom: 0px;
    border-bottom: 1px solid black;
    padding: 10 10px;
    background-color: #F8F8F8;
    &input::placeholder{
        color: #999999;
        text-align: left;
    }
}
.label{
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/User.png);
    width: 50px;
    height: 30px;
}
.label2{
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/Lock.png);

    width: 40px;
    height: 20px;
    margin-left: 5px;
}
.genderButtonContainer{
    display: flex;
    justify-content: center;
    gap: 10px; /* 버튼 간격 */
    margin-top: 8px; /* 성별 선택 영역 위쪽 여백 */
}
.genderButton {
    padding: 8px 100px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
    color: #333;
    margin-bottom: 10px;
    transition: background-color 0.1s, color 0.1s;
    &:hover {
        background-color:  rgb(165, 119, 119);
        color: white;
    }
}

.selected {
    background-color:  rgb(176, 131, 131); /* 선택된 버튼 색상 */
    color: #fff;
    border-color:  rgb(176, 131, 131);
}
.label4{
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/Calendar.png);
    width: 40px;
    height: 20px;
    margin-left: 5px;
}
.label5{
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/Phone.png);
    width: 40px;
    height: 20px;
    margin-left: 5px;
}
.input{
    display: flex;
    font-size: 20px;
    width: 100%;
    height: 100%;
    padding: 0px 130px 0 0;
}
.SignUpButton{
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    border-radius: 6px;
    color: #fff;
    border: 1px solid black;
    font-size: 16px;
    background-color: rgb(165, 119, 119);
    margin-top:10px;
    cursor: pointer;
    &.SignUpButton:hover{
        background-color: #463e3e;
    }
}
.goBackButton{
    justify-items: center;
    text-align: right;
    margin-left: 450px;
    cursor: pointer;
    background-size: contain;
    background-image: url(../img/Back.png);
    width: 30px;
    height: 30px;
    background-color: unset;
    background-color: snow;
}
@media (max-width: 480px) { /* 모바일 화면 */

    .header {
        top: 15px;
        left: 20px;
    }

    .logo {
        font-size: 35px; /* 로고 크기 축소 */
        font-weight: bold;
        position: fixed;
        right: 125px;
        margin-top: 45px;
    }

    .Container {
        width: 90%;
        padding: 10px;
        border-radius: 30px;
        min-height: 500px;
    }

    .goBackButton{
        margin: 0;
        position: fixed;
        top: 185px;
        right: 40px;
        width: 27px;
    }
    .SignUpTitle {
        font-size: 20px;
        
    }

    .inputField {
        width: 100%;
        height: 40px;
        font-size: 14px;
    }

    .SignUpButton {
        height: 40px;
        font-size: 14px;
    }

    .genderButton {
        padding: 8px 30px;
        font-size: 14px;
    }
}