.CheckListContainer{
    align-items: center;
    background-color: snow;
    overflow: scroll;
    
}
.CheckListContainer h4{
    padding: 3px;
    border-bottom: 1px solid #666259;
    background-color: #9b9fa2;

}
.CheckListButton {
    margin: 10px;
    padding: 5px 10px;
    background-color: #9b9fa2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
    background-color: #666259;
  }
}
  .CheckList {
    list-style: none;
    padding: 0;
  }
  
  .CheckListItem {
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align:left ;
    margin-bottom: 5px;
    padding: 3px 0;
    border-bottom: 1px solid #5d5858;
    white-space: nowrap;
    text-overflow: ellipsis; 
  }
  .CheckListItem span {
    flex-grow: 1; /* 텍스트를 가능한 한 왼쪽으로 밀어줌 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
  }
  
  .CheckedItem {
    text-decoration: line-through;
    color: gray;
    margin-left: 5px;
  }
  
  .UncheckedItem {
    text-decoration: none;
    margin-left: 5px;
  }
  .CheckListDelete{
   margin-top: 3px;
   background: none;
   border: none;
   width: 50px;
   font-size: 25px;
   &:hover{
    cursor: pointer;
    transform: scale(1.07);
    transition-duration: 0.5s;
   }
  }
  /* 스크롤바 스타일링 */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 30px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 30px;
}

  /* 모달 스타일 */
.ModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .ModalContent {
    background-color: #d8d2d2;
    padding: 20px;
    border-radius: 8px;
    width: 600px;
    max-width: 80%;
    height: 600px;
    max-height: 80%;
    overflow-y: auto;
  }
  .ModalContent ul{
    background-color: snow;
  }
  .ModalContent h4{
      font-size: 30px;
      text-align: center;
      border: 1px solid black;
  }
.ModalContent li{
  font-size: 1.5rem;
  padding:13px;
  white-space: nowrap;
  text-overflow: ellipsis; 
}