.ModalOverlay {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  position: relative;
  min-width: 1200px;
  max-width: 1200px;
  max-height: 650px;
}
.ImageModalContainer{
  padding: 20px;
  width: 60%;
  border-right:2px solid #cfcfcf;
 p{
   text-align: center;
   font-size: 35px;
   padding: 10px;
   color: #777474;
 }
}
.modalImage {
  max-width: 100%;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  max-height: 100%;
}

.ImageModalContainer2{
  width: 40%;
  padding: 15px;
  div{
    margin: 5px;
  }
}
.ImageModalHeader{
  display: flex;
  align-content: center;
  height: 5%;
  border-bottom:2px solid #cfcfcf;
  padding: 10px;
}
.ImageModalProfilePicture{
  width: 40px;
  height: 30px;
  background: none;
  border: 1px solid #898888;
  border-radius: 50%;
}
.ProfileText{
  margin-left: 15px;
  font-size: 13px;
}
.ProfileEmail{
  color: #777474;
  font-size: 10px;
}
.ImageModalText{
  height: 40%;
  padding: 10px;
  word-break: nowrap;
  overflow-y: scroll;
}
.ImageModalComment{
 overflow-y: scroll;
 word-break: normal;
 height: 30%;
 padding: 10px;
 border: 2px solid rgb(85, 85, 85);
}
.ImageModalCommentInput{
  display: flex;
  position: relative;
  bottom: -20px;
  margin-top: 15px;
  height: 7%;
}
.Inputstyle{
  flex: 1;
  padding: 10px; 
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 14px;
 }
.CommentButton{
  padding: 8px 16px;
  background-color: #3897f0;
  border: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

