body {
  margin: 0;
  font-family:'RixXladywatermelonR';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'RixXladywatermelonR';
  src: url('../src/assets/font/Rix X ladywatermelon Regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
