body {
  margin: 0;
  font-family:'RixXladywatermelonR';
  font-family: 'LINESeedKR-Bd';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'RixXladywatermelonR';
  src: url('../src/assets/font/Rix X ladywatermelon Regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
 /*라인*/
@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
  font-weight:normal;
  font-style: normal;
}
 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
