.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 20px;
  margin: 0;
  background-color: white;
  position: fixed; /* 헤더 고정 */
  top: 0; /* 화면 상단에 고정 */
  left: 0; /* 화면 왼쪽에 고정 */
  right: 0; /* 화면 오른쪽에 고정 */
  z-index: 1000;
  border-bottom: 1px solid #eee;
}
.Logo{
  margin-left: 10px;
  width: 50px;
  align-items: center;
}
.ustime {
  flex: 1; /* 가운데 요소를 정렬하기 위해 flex 속성 추가 */
  font-size: 26px;
  font-style: oblique;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  margin-top: 7px;
}
.blue{
  color: rgb(174, 240, 250);
}
.red{
  color: rgb(248, 188, 234);
}
.sidebarIcon {
  flex: 0;
  text-align: left;
  font-size: 30px;
  border: 0;
  color: #9d9b9b;
  background-color: rgba(243, 235, 219, 0);
  cursor: pointer;
}
.sidebarIcon:hover{
  transform: scale(1.2);
  transition-duration:0.5s;
  }

.alramIcon {
  text-align: right !important;
  font-size: 40px;
  border: 0;
  background-color: rgba(245, 229, 198, 0);
  cursor: pointer;
}
.alramIcon:hover{
transform: scale(1.2);
transition-duration:0.5s;
}

.badge {
  position: absolute;
  top: 5px;
  right: 20px;
  background-color: red;
  color: white;
  font-size: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alarmDropdown {
  position: absolute;
  z-index: 1000;
  top: 50px;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  

}
.alarmDropdown h3{
  padding: 10px;
  border-bottom: 2px solid #eee;
}

.alarmItem {
  justify-content: space-between; /* 메시지와 생성일시, 삭제 버튼을 양쪽으로 배치 */
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
  transition: background-color 0.3s ease, transform 0.2s ease;
  overflow-y: scroll;
  
}

.alarmItem:hover {
  transform: scale(1.01); /* 살짝 확대 */
}

.alarmItem:last-child {
  border-bottom: none;
}

.alarmContent {
  flex-direction: unset; 
}

.alarmMessage {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}


.timestamp {
  font-size: 15px;
  color: #595555;
  font-weight: lighter;
}
.readText {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  color: black;
  font-size: 0.95rem;
  font-weight: bold;
  transition: opacity 0.5s ease-in; /* 0.5초 동안 서서히 표시 */
}
.noalarms {
  padding: 10px;
  text-align: center;
  min-height: 100%;
  color: gray;
  font-size: 14px;
  overflow: auto;
}

.statusAccepted {
  color: green;
  font-weight: bold;
}

.statusRejected {
  color: red;
  font-weight: bold;
}

// 삭제버튼 스타일
.deleteButton {
  color: black;
  border: none;
  background:none;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 50px;
  align-items: end;
}

.deleteButton:hover {
  background-color: #373232;
  color: white;
}

//일정 모달 부분
.modalContent h3{
 text-align: center;
 padding: 10px;
 font-size: 30px;
}

.modalDate{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}
.modalIcon{
  font-size: 30px;
  animation: slideRight 2s ease-in-out infinite;
  white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 설정 */
}
.HeaderNavigate{
  display: flex;
  justify-content:space-around;
  font-family: 'Pretendard-Regular';
}
@keyframes slideRight {
  0% {
    transform: translateX(-30px); /* 시작 위치 */
    opacity: 1; /* 완전히 보임 */
  }
  50% {
    transform: translateX(20px); /* 오른쪽으로 이동 */
    opacity: 0.5; /* 반투명 */
  }
  100% {
    transform: translateX(40px); /* 더 멀리 이동 */
    opacity: 0; /* 사라짐 */
  }
}
.modalDate strong{
  display: flex;
}
.modalScheduleSectionTitle strong{
  font-size: 25px;
  align-items: center;
  margin: 10px;
  margin-bottom: 10px;
 text-decoration: none;
}
.modalScheduleSectionTitle{
 margin-bottom: 10px;
 border-bottom: 2px solid rgba(0, 0, 0, 0.458);
}
.modalScheduleSectionDescription strong{
   font-size: 25px;
   margin: 10px;
}
.modalScheduleSectionDescription{
  width: 400px;
  height:200px;
  overflow-y: scroll;
  border-bottom: 2px solid rgba(0, 0, 0, 0.458);
  margin-bottom: 10px;
}

//커플 요청 모달부분
.CoupleRequestUser{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
}
.CoupleRequestUser img{
  display: flex;
  width: 100px;
  background: none;
  border: 1px solid black;
  border-radius: 50%;
}
.CoupleRequestUser strong{
  margin-top: 15px;
}
.coupleActions{
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  margin: 10px;
}
.coupleActions button{
  padding: 10px 20px;
  border-radius: 10px;
  gap: 10px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #eceaea;
  &:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
    background-color: #c4d8e4;
  }
}