.wheelDatePicker {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .picker {
    display: flex;
    gap: 5px;
  }
  
  .item {
    width: 80px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px 0px;
    user-select: none;
    background-color: white;
  }
  .dropdown {
    display: block;
    position: absolute;
    align-content: center;
    background-color: white;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    z-index: 10;
    padding: 5px;
    margin-top: 5px;
    max-height: 200px;
    width: 70px;
    overflow-y: auto;
  }
  
  .dateItem {
    padding: 5px;
    cursor: pointer;
  }
  
  .dateItem:hover {
    background-color: #f0f0f0;
  }
  
  .item:hover {
    background-color: #f1f1f1;
  }
  